@model CasinoOrt.Models.Informe

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

@*<div>
    <h4>Informe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.montoInicial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.montoInicial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cantGanadas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cantGanadas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cantPerdidas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cantPerdidas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ganancia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ganancia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.montoPerdida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.montoPerdida)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.InformeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@
