@model IEnumerable<CasinoOrt.Models.Informe>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.montoInicial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cantGanadas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cantPerdidas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ganancia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.montoPerdida)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.montoInicial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantGanadas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantPerdidas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ganancia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.montoPerdida)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InformeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InformeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InformeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
